// 7 Rekomendasi Olahraga Dalam Menurunkan Berat Badan
color: black;
 font-size: 48px;
 font-family: Open Sans;
 font-weight: 700;
 line-height: 55px;
 word-wrap: break-word
---
// Manfaat Olahraga dalam Menurunkan Berat Badan
color: black;
 font-size: 32px;
 font-family: Open Sans;
 font-weight: 700;
 line-height: 55px;
 word-wrap: break-word
---
// Cara menurunkan berat badan tidak akan maksimal jika hanya mengandalkan pengurangan asupan kalori saja. Mengurangi asupan kalori tanpa olahraga akan membuat tubuh kehilangan banyak lemak sekaligus massa otot.<br/>Padahal, otot lebih berperan aktif dalam proses metabolisme tubuh daripada lemak. Apabila massa otot berkurang, maka metabolisme tubuh menjadi semakin lambat. Akibatnya, proses penurunan berat badan menjadi terhambat.
color: black;
 font-size: 32px;
 font-family: Open Sans;
 font-weight: 400;
 line-height: 55px;
 word-wrap: break-word
---
// 1. Lompat Tali
color: black;
 font-size: 32px;
 font-family: Open Sans;
 font-weight: 700;
 line-height: 55px;
 word-wrap: break-word
---
// Lompat tali adalah gerakan olahraga untuk menurunkan berat badan yang dapat dicoba di rumah. Meski terlihat sederhana, namun olahraga ini rupanya memiliki efektivitas pembakaran kalori yang kurang lebih sama dengan lari santai.<br/>Lompat tali dengan intensitas ringan selama 30 menit diketahui dapat membakar sekitar 128 kalori. Sementara itu, lompat tali yang dilakukan dengan intensitas berat dan durasi yang sama dapat membakar hingga 421 kalori.
color: black;
 font-size: 32px;
 font-family: Open Sans;
 font-weight: 400;
 line-height: 55px;
 word-wrap: break-word
---
// 2. Jalan Kaki
color: black;
 font-size: 32px;
 font-family: Open Sans;
 font-weight: 700;
 line-height: 55px;
 word-wrap: break-word
---
// Jalan kaki merupakan salah satu pilihan olahraga menurunkan berat badan yang mudah untuk dilakukan. Olahraga ini tidak memerlukan perlengkapan khusus, bahkan bisa dilakukan kapan dan di mana saja.<br/>Perlu diketahui bahwa berjalan kaki selama 30 menit mampu membakar kurang lebih sebanyak 167 kalori. Setelah terbiasa melakukannya, Anda dapat meningkatkan durasinya. Semakin lama durasi berjalan kaki, maka semakin banyak kalori yang terbakar.
color: black;
 font-size: 32px;
 font-family: Open Sans;
 font-weight: 400;
 line-height: 55px;
 word-wrap: break-word
---
// Olahraga menurunkan berat badan berikutnya adalah berenang. Berenang terkenal sebagai olahraga yang cukup menyenangkan. Bahkan, selain bisa menurunkan berat badan, olahraga ini juga dapat membantu meringankan rasa cemas atau stres.<br/>Olahraga renang dengan gaya punggung selama 30 menit diketahui dapat membakar sekitar 298 kalori. Sementara itu, renang gaya bebas bisa membakar 372 kalori, dan gaya kupu-kupu sebanyak 409 kalori dengan intensitas dan durasi yang sama.
color: black;
 font-size: 32px;
 font-family: Open Sans;
 font-weight: 400;
 line-height: 55px;
 word-wrap: break-word
---
// 3. Berenang
color: black;
 font-size: 32px;
 font-family: Open Sans;
 font-weight: 700;
 line-height: 55px;
 word-wrap: break-word
---
// 4. Bersepeda
color: black;
 font-size: 32px;
 font-family: Open Sans;
 font-weight: 700;
 line-height: 55px;
 word-wrap: break-word
---
// Sepeda tidak hanya berfungsi sebagai sarana transportasi, bersepeda juga bisa dijadikan sebagai pilihan olahraga menurunkan berat badan. Pasalnya, bersepeda selama 30 menit di luar rumah mampu membakar sekitar 280–360 kalori.<br/>Apabila tidak ingin keluar rumah, kini telah tersedia jenis sepeda statis sebagai alternatifnya. Latihan dengan sepeda statis selama 30 menit diketahui dapat membakar sekitar 250–280 kalori.
color: black;
 font-size: 32px;
 font-family: Open Sans;
 font-weight: 400;
 line-height: 55px;
 word-wrap: break-word
---
// Rekomendasi Olahraga Menurunkan Berat Badan
color: black;
 font-size: 32px;
 font-family: Open Sans;
 font-weight: 700;
 line-height: 55px;
 word-wrap: break-word
---
// Terdapat beberapa rekomendasi olahraga menurunkan berat badan yang bisa dilakukan di rumah, antara lain:
color: black;
 font-size: 32px;
 font-family: Open Sans;
 font-weight: 400;
 line-height: 55px;
 word-wrap: break-word
---
// Salah satu olahraga di rumah untuk menurunkan berat badan adalah 
color: black;
 font-size: 32px;
 font-family: Open Sans;
 font-weight: 400;
 line-height: 55px;
 word-wrap: break-word
---
// yoga
color: black;
 font-size: 32px;
 font-family: Open Sans;
 font-weight: 400;
 text-decoration: underline;
 line-height: 55px;
 word-wrap: break-word
---
// . Meski terkenal akan manfaatnya terhadap kesehatan mental, rupaya yoga juga mampu membakar kalori tubuh. Pasalnya, melakukan yoga selama kurang lebih 40 menit dapat membakar sekitar 149 kalori.
color: black;
 font-size: 32px;
 font-family: Open Sans;
 font-weight: 400;
 line-height: 55px;
 word-wrap: break-word
---
// 5. Yoga
color: black;
 font-size: 32px;
 font-family: Open Sans;
 font-weight: 700;
 line-height: 55px;
 word-wrap: break-word
---
// Pilates adalah olahraga menurunkan berat badan yang gerakannya mirip dengan yoga, namun lebih modern. Sebagai bentuk latihan fisik yang berfokus pada rehabilitasi dan penguatan tubuh, pilates mengombinasikan serangkaian gerakan lambat dan pernapasan dalam.
color: black;
 font-size: 32px;
 font-family: Open Sans;
 font-weight: 400;
 line-height: 55px;
 word-wrap: break-word
---
// 6. Pilates
color: black;
 font-size: 32px;
 font-family: Open Sans;
 font-weight: 700;
 line-height: 55px;
 word-wrap: break-word
---
// Senam aerobik merupakan pilihan workout untuk menurunkan berat badan dengan diiringi musik. Olahraga ini merupakan pilihan tepat apabila Anda menyukai jenis olahraga seru yang bisa dilakukan bersama teman-teman.<br/>Perlu diingat pula bahwa selain intensitas olahraga, jumlah pembakaran kalori tubuh juga bergantung pada faktor-faktor lainnya seperti berat badan, kecepatan metabolisme tubuh, serta seberapa cepat Anda dalam melakukan gerakan-gerakan dalam olahraga tersebut. Oleh karena itu, jumlah kalori yang hilang dari setiap orang mungkin bisa berbeda-beda.
color: black;
 font-size: 32px;
 font-family: Open Sans;
 font-weight: 400;
 line-height: 55px;
 word-wrap: break-word
---
// 7. Senam Aerobik
color: black;
 font-size: 32px;
 font-family: Open Sans;
 font-weight: 700;
 line-height: 55px;
 word-wrap: break-word
---
//      Itu dia beberapa rekomendasi olahraga menurunkan berat badan yang dapat Anda coba di rumah. Selain rutin berolahraga, Anda juga disarankan untuk menerapkan pola makan sehat untuk mencapai berat badan ideal dan sehat.
color: black;
 font-size: 32px;
 font-family: Open Sans;
 font-weight: 400;
 line-height: 55px;
 word-wrap: break-word
---
// © 2023 by Araceli Group 12 afternoon.
color: #424242;
 font-size: 20px;
 font-family: Lato;
 font-weight: 500;
 line-height: 24px;
 word-wrap: break-word
---
// About us
color: black;
 font-size: 20px;
 font-family: Open Sans;
 font-weight: 400;
 line-height: 27px;
 word-wrap: break-word
---
// Food
color: black;
 font-size: 20px;
 font-family: Open Sans;
 font-weight: 400;
 line-height: 27px;
 word-wrap: break-word
---
// Recipes
color: black;
 font-size: 20px;
 font-family: Open Sans;
 font-weight: 400;
 line-height: 27px;
 word-wrap: break-word
---
// Reviews
color: black;
 font-size: 20px;
 font-family: Open Sans;
 font-weight: 400;
 line-height: 27px;
 word-wrap: break-word
---
// Sign in
color: black;
 font-size: 20px;
 font-family: Open Sans;
 font-weight: 400;
 line-height: 27px;
 word-wrap: break-word
---
// Terms & conditions
color: #424242;
 font-size: 16px;
 font-family: Open Sans;
 font-weight: 400;
 line-height: 22px;
 word-wrap: break-word
---
// Privacy policy
color: #424242;
 font-size: 16px;
 font-family: Open Sans;
 font-weight: 400;
 line-height: 22px;
 word-wrap: break-word
---
// Contact
color: #424242;
 font-size: 16px;
 font-family: Open Sans;
 font-weight: 400;
 line-height: 22px;
 word-wrap: break-word
---
// Cookie policy
color: #424242;
 font-size: 16px;
 font-family: Open Sans;
 font-weight: 400;
 line-height: 22px;
 word-wrap: break-word
---
// Support
color: #424242;
 font-size: 16px;
 font-family: Open Sans;
 font-weight: 400;
 line-height: 22px;
 word-wrap: break-word
---
// Kategori
color: black;
 font-size: 27px;
 font-family: Sumana;
 font-weight: 400;
 line-height: 27px;
 word-wrap: break-word
---
// Tentang
color: black;
 font-size: 27px;
 font-family: Sumana;
 font-weight: 400;
 line-height: 27px;
 word-wrap: break-word
---
// Komunitas
color: black;
 font-size: 27px;
 font-family: Sumana;
 font-weight: 400;
 line-height: 27px;
 word-wrap: break-word