// LIFESTYLE
color: #F5F5F5;
 font-size: 150px;
 font-family: Open Sans;
 font-weight: 700;
 word-wrap: break-word
---
// Kenapa Harus Sehat?
color: black;
 font-size: 40px;
 font-family: Open Sans;
 font-weight: 700;
 line-height: 55px;
 word-wrap: break-word
---
// Peningkatan kesehatan fisik
color: black;
 font-size: 32px;
 font-family: Open Sans;
 font-weight: 400;
 line-height: 27px;
 word-wrap: break-word
---
// Kesehatan mental yang lebih baik
color: black;
 font-size: 32px;
 font-family: Open Sans;
 font-weight: 400;
 line-height: 27px;
 word-wrap: break-word
---
// Peningkatan umur panjang
color: black;
 font-size: 32px;
 font-family: Open Sans;
 font-weight: 400;
 line-height: 27px;
 word-wrap: break-word
---
// Manajemen berat badan
color: black;
 font-size: 32px;
 font-family: Open Sans;
 font-weight: 400;
 line-height: 27px;
 word-wrap: break-word
---
// Improved self-confidence
color: black;
 font-size: 32px;
 font-family: Open Sans;
 font-weight: 400;
 line-height: 27px;
 word-wrap: break-word
---
// Mengurangi stres
color: black;
 font-size: 32px;
 font-family: Open Sans;
 font-weight: 400;
 line-height: 27px;
 word-wrap: break-word
---
// RESULTS
color: white;
 font-size: 100px;
 font-family: Open Sans;
 font-weight: 700;
 word-wrap: break-word
---
// FitLife reviews
color: black;
 font-size: 32px;
 font-family: Open Sans;
 font-weight: 700;
 line-height: 44px;
 word-wrap: break-word
---
// 10 kgs in 3 weeks
color: white;
 font-size: 32px;
 font-family: Open Sans;
 font-weight: 700;
 line-height: 44px;
 word-wrap: break-word
---
// Platform ini seperti hal terbaik yang pernah terjadi pada kesehatan saya. Saya terkejut betapa nafsu makan saya hilang hanya dalam beberapa hari dan tidak ingin makan di antara waktu makan sangat membantu. Menurunkan 6 kg hanya dalam 1 bulan memang luar biasa, tetapi bagian terbaiknya adalah peningkatan kesehatan.
color: black;
 font-size: 20px;
 font-family: Open Sans;
 font-weight: 400;
 line-height: 27px;
 word-wrap: break-word
---
// Anshuman Khuranna
color: black;
 font-size: 28px;
 font-family: Open Sans;
 font-weight: 700;
 line-height: 38px;
 word-wrap: break-word
---
// penurunan berat badan dalam 1 bulan
color: black;
 font-size: 18px;
 font-family: Open Sans;
 font-weight: 400;
 line-height: 25px;
 word-wrap: break-word
---
// Kategori
color: black;
 font-size: 27px;
 font-family: Sumana;
 font-weight: 400;
 line-height: 27px;
 word-wrap: break-word
---
// Tentang
color: black;
 font-size: 27px;
 font-family: Sumana;
 font-weight: 400;
 line-height: 27px;
 word-wrap: break-word
---
// Komunitas
color: black;
 font-size: 27px;
 font-family: Sumana;
 font-weight: 400;
 line-height: 27px;
 word-wrap: break-word
---
// Temukan
color: #DC2F39;
 font-size: 70px;
 font-family: Times New Roman;
 font-weight: 700;
 line-height: 55px;
 word-wrap: break-word
---
//  <br/>
color: black;
 font-size: 50px;
 font-family: Times New Roman;
 font-weight: 700;
 line-height: 55px;
 word-wrap: break-word
---
//  Jawaban Masalah Tubuh Anda <br/>
color: black;
 font-size: 40px;
 font-family: Times New Roman;
 font-weight: 700;
 line-height: 55px;
 word-wrap: break-word
---
// Bergabunglah dengan Komunitas Kebugaran untuk mendapatkan solusi masalah dan Ayo hitung kebutuhan kalori anda.
color: black;
 font-size: 32px;
 font-family: Open Sans;
 font-weight: 400;
 line-height: 55px;
 word-wrap: break-word
---
// Ayo Cek!!
color: black;
 font-size: 24px;
 font-family: Open Sans;
 font-weight: 400;
 line-height: 33px;
 word-wrap: break-word
---
// © 2023 by Araceli Group 12 afternoon.
color: #424242;
 font-size: 20px;
 font-family: Lato;
 font-weight: 500;
 line-height: 24px;
 word-wrap: break-word
---
// About us
color: black;
 font-size: 20px;
 font-family: Open Sans;
 font-weight: 400;
 line-height: 27px;
 word-wrap: break-word
---
// Food
color: black;
 font-size: 20px;
 font-family: Open Sans;
 font-weight: 400;
 line-height: 27px;
 word-wrap: break-word
---
// Recipes
color: black;
 font-size: 20px;
 font-family: Open Sans;
 font-weight: 400;
 line-height: 27px;
 word-wrap: break-word
---
// Reviews
color: black;
 font-size: 20px;
 font-family: Open Sans;
 font-weight: 400;
 line-height: 27px;
 word-wrap: break-word
---
// Sign in
color: black;
 font-size: 20px;
 font-family: Open Sans;
 font-weight: 400;
 line-height: 27px;
 word-wrap: break-word
---
// Terms & conditions
color: #424242;
 font-size: 16px;
 font-family: Open Sans;
 font-weight: 400;
 line-height: 22px;
 word-wrap: break-word
---
// Privacy policy
color: #424242;
 font-size: 16px;
 font-family: Open Sans;
 font-weight: 400;
 line-height: 22px;
 word-wrap: break-word
---
// Contact
color: #424242;
 font-size: 16px;
 font-family: Open Sans;
 font-weight: 400;
 line-height: 22px;
 word-wrap: break-word
---
// Cookie policy
color: #424242;
 font-size: 16px;
 font-family: Open Sans;
 font-weight: 400;
 line-height: 22px;
 word-wrap: break-word
---
// Support
color: #424242;
 font-size: 16px;
 font-family: Open Sans;
 font-weight: 400;
 line-height: 22px;
 word-wrap: break-word